﻿/* IE7-Specific Hacks */
.tab
{
	position:relative;
	margin-right:5px;
	height:40px;
	left:-10px;
	float:left;
	text-align:center;
	cursor:pointer;
}

.tabContainer 
{
	height:73px;
	padding-left:10px;
	padding-right:10px;
	margin:10px auto;
	margin-top:15px;
	margin-bottom:0px;
	width:96%;
}

.tab2Container 
{
	position:relative;
	top:0px;
	margin-left:-10px;
	padding-right:20px;
	height:33px;
	width:100%;
	background-color:#EEE;
}

.userChooserList
{
    left:41px;
}