﻿/* Main Content */


.subtitle 
{
    font-size:14px;
    font-weight:bold;
}

.title 
{
    font-size:18px;
}

.helpText 
{
    line-height:18px;
    margin-bottom:2px;
    padding-bottom:5px;
}

.helpBox
{
    padding:5px; 
    border:3px #c2dbff solid; 
    background-color:#eef4ff; 
    text-align:left; 
    margin-bottom:15px;
}

.yellowBox 
{
	padding:5px;
	position:relative;
	width:250px;
	border:3px #e9e4b9 solid;
	background-color:#fcf9dd;
	text-align:center;
	margin-bottom:10px;
}

.blueBox 
{
	padding:5px;
	position:relative;
	width:250px;
	border:3px #c2dbff solid;
	background-color:#eef4ff;
	text-align:center;
	margin-bottom:10px;
}

.greyBox 
{
	padding:5px;
	position:relative;
	width:250px;
	border:3px #dddddd solid;
	background-color:#eeeeee;
	text-align:center;
}

.greenBox 
{
	padding:5px;
	position:relative;
	width:350px;
	border:3px #dddddd solid;
	background-color:#66FF33;
	text-align:left;
}
.redBox
{
    padding:5px; 
    border:3px #fca0a0 solid; 
    background-color:#ffd0d0; 
    text-align:left; 
    margin-bottom:10px;
}

.calendar 
{
	position:absolute;
	width:205px;
	z-index:9;
}

.textBoxError
{
	border:red;
	background-color:#FFCECE;
}

.printOnly
{
	display:none;
}

.preferencesBox
{
	background-color:#f2f2f2;
	padding:10px;
	margin-right:10px;
}

.hide
{
	display:none;
}

.show
{
	display:block;
}
/* End Main 

Tables */
.dualColumnLeft
{
	width:275px;
}

.recordsTitle
{
	padding-left:5px;
	padding-right:5px;
	padding-top:3px;
	font-size:14px;
	font-weight:bold;
	color:#888;
	background-color:#DDD;
	position:relative;
}

.tableTitle
{
	padding-left:2px;

}

th
{
	text-align:left;
}

.trHeader
{
	font-size: 14px;
	font-weight: bold;
	font-family: arial;
	text-transform: uppercase;
	color: #fff;
    text-align: center;
	line-height: 34px;
	height: 34px;
	background: url(../images/column-head-bg.png) repeat-x;
}

.trFooter
{
	font-weight:bold;
	background-color:#EDEDED;
}

.trNormal
{
	background-color:#F9F9F9;
}

.trAlternate 
{
	background-color:#F3F3F3;
}

.trNotVerifiedNormal
{
	background-color:#FFCCCC;
}

.trNotVerifiedAlternate
{
	background-color:#FFBBBB;
}

.trNotVerifiedManualNormal
{
	background-color:#9999FF;
}

.trNotVerifiedManualAlternate
{
	background-color:#8888FF;
}
/* End Tables

Buttons */
.smallButton
{
	margin-right:6px;
}

.userChooserBox
{
	position:relative;
	display:inline-block;
	width:172px;
	height:0px;
	padding-left:4px;
	padding-top:1px;
	background-color:White;
	border:1px solid #DDD;
	text-align:left;
}
	

.userChooserList
{
	position:relative;
	z-index:1 !important;
	width:176px;
	max-height:170px;
    min-height:100px;
    margin-top:-1px;
    left:0px;
    overflow:auto;
    background-color:White;
    border:1px solid #DDD;
    border-top:0px;
    text-align:left;
    background-image:url(../images/userlist_bg.png);    
}

.userChooserRBs
{
	position:relative;
	left:3px;
}

/* Timesheet DIV Table */

.timeTable
{
	margin:0 auto 0 auto;
	color:#000;
	width:100%;
	min-width:520px;
}

.timeTR
{
	margin:0;
	padding:0;
	color:#000;
	width:100%;
	z-index:0;
}

.timeDate, .timeStart, .timeEnd, .timeDurationNoButtons, .timeDurationWithButtons, .timeButtons
{
	position:relative;
	height:50px;
	margin-top:0px;
	padding-top:2px;
	padding-bottom:2px;
	float:left;
	overflow:visible;
	z-index:0;
}

.timeDate 
{
	width:30%;
}

.timeStart
{
	width:25%;
}

.timeEnd
{
	width:25%;
}

.timeDurationNoButtons
{
	width:19%;
}

.timeDurationWithButtons
{
	width:17%;
}

.timeButtons
{
	text-align:right;
	width:2%;
}

.timeClear
{
	clear:both;
}

/* Schedule DIV Table */

.schTable
{
	margin:0 auto 0 auto;
	color:#000;
	width:100%;
}

.schTR
{
	margin:0;
	padding:0;
	color:#000;
	width:100%;
}




.schHeader
{
	max-height:36px;
}



.schNoneFiller
{
	width:84%;
}

.schButtons
{
	width:3%;
}

.schClear
{
	clear:both;
}

/* BoxOver custom stuff */

.boHeader 
{
	font-weight:bold;
	width:150px;
	border:1px solid #A5CFE9;
	padding:3;
	font-size:11px;
	color:#4B7A98;
	background:#D5EBF9;
}

.boBody
{
	border-bottom:1px solid #A5CFE9;
	border-left:1px solid #A5CFE9;
	border-right:1px solid #A5CFE9;
	width:150px;
	font-family:arial;
	font-size:11px;
	padding:3;
	color:#1B4966;
	background:#FFFFFF;
}

.bo200pxWide 
{
	width:200px !important;
}