﻿body 
{
	margin:0px;
	color:#333;
	font-family:Arial;
	font-size:12px;
	background-color:#FFF;
}

/* Header */
.header 
{
	display:none;
}
/* End Header

Tab Bar */
.tabContainer 
{
	display:none;
}
/* End Tab Bar

Main Content */
.main 
{
	min-height:500px;
	padding:10px;
	margin:20px auto;
	margin-top:0px;
	width:96%;
	background-color:#FFF;
}

.yellowBox 
{
	display:none;
}

.greyBox 
{
	display:none;
}

.pageBreak 
{
	page-break-before:always;
}

.doNotPrint
{
	display:none;
}

.printOnly
{
	display:block;
}
/* End Main 

Tables */
.dualColumnLeft
{
	display:none;
}

.timeButtons
{
	display:none;
}

.trHeader 
{
	border-top:solid 1px #AAA;
	border-bottom:solid 1px #AAA;
}

.trNormal 
{
	border-bottom:solid 1px #AAA;
}

.trAlternate
{
	border-bottom:solid 1px #AAA;
}
/* End Tables

Buttons */
.smallButton
{
	display:none;
}

.userChooserBox
{
	display:none;
}
	

.userChooserList
{
	display:none;    
}

.schButtons
{
	display:none;
}