html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: arial;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:hover {text-decoration: underline;}
.clear {clear: both;}


@font-face {
	font-family: 'HelveticaLT-Compressed';
	src: url('fonts/HelveticaLT-Compressed.eot?') format('eot'), 
	     url('fonts/HelveticaLT-Compressed.woff') format('woff'), 
	     url('fonts/HelveticaLT-Compressed.ttf')  format('truetype'),
	     url('fonts/HelveticaLT-Compressed.svg#HelveticaLT-Compressed') format('svg');
}

@font-face {
    font-family: 'latoregular';
    src: url('fonts/lato-reg-webfont.eot');
    src: url('fonts/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-reg-webfont.woff') format('woff'),
         url('fonts/lato-reg-webfont.ttf') format('truetype'),
         url('fonts/lato-reg-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'LatoBold';
    src: url('fonts/lato-bol.eot');
    src: url('fonts/lato-bol.eot') format('embedded-opentype'),
         url('fonts/lato-bol.woff') format('woff'),
         url('fonts/lato-bol.ttf') format('truetype'),
         url('fonts/lato-bol.svg#LatoBold') format('svg');
}

/* start */

#page {
	width: 100%;
}
#header {
	height: 105px;
	background: #004066;
	border-bottom: 4px solid #6ba1c7;
	margin-bottom: 1px;
	padding-top: 20px;
}
.container {
	width: 1346px;
	margin: 0 auto;
}
.logo {
	width: 315px;
	height: 99px;
	background: url(images/tcw-admin-logo.png)no-repeat top;
}
.logo a {
	display: block;
	width: 315px;
	height: 99px;
	text-indent: -99999px;
}

h5 { 
	font-family: arial;
	font-weight: bold;
	font-size: 16px;
	color: #004a71;
}

.radio-btn {
	font-family: arial;
	font-size: 14px;
	color: #454545;
}
.radio-btn div {
	margin: 15px 0;
}


.main {
	background: #004a71;
	border-left: 5px solid #f29e3e;
}
#sidebar {
	width: 305px;	
	float: left;
}
.orange {
	background: url(images/orange-bg.png) repeat-x;
}
#sidebar h4 {
	padding: 10px 10px 10px 5px;
	margin-right: 112px;
	background: url(images/title-btn.png)no-repeat 113px;;
	font-family: 'HelveticaLT-Compressed'; 
	color: #fff;
}

#sidebar #side-nav a {
	color: #fff; 
	text-decoration: none; 
	font-family: 'latoregular'; 
	font-size: 20px; 
	text-transform: capitalize;
	display: block;
	padding: 18px 0 19px 33px;
}
/* side nav icon */
#sidebar #side-nav a.dash {background: url(images/dash-bg.png)no-repeat left;}
#sidebar #side-nav a.time {background: url(images/time-bg.png)no-repeat left;}
#sidebar #side-nav a.request {background: url(images/request.png)no-repeat left;}
#sidebar #side-nav a.who {background: url(images/who.png)no-repeat left;}
#sidebar #side-nav a.mile {background: url(images/mileage.png)no-repeat left;}

#sidebar #side-nav ul li {
	background: url(images/divider.png) repeat-x top;
}
#sidebar #side-nav .nav-bottom {
	background: url(images/divider.png) repeat-x bottom; height: 2px;
}

/* helpdesk */
#sidebar .helpdesk-top {
	width: 281px; background: url(images/help-bg-top.png)no-repeat top; 
	padding-top: 57px; 
	margin: 95px 0 0 8px;
}
#sidebar .helpdesk-bottom {
	background: url(images/help-bg-bottom.png)no-repeat bottom; 
	height: 10px;
}
#sidebar .helpdesk-main {
	background: url(images/help-bg.png)repeat-y; 
	width:281px;
}
#sidebar .helpdesk-main p {
	font-size: 15px; color: #fff; 
	padding: 10px 21px 20px 20px; 
	font-family: 'latoregular';
}
.content {
	width: 1041px;
	background: #fff;
	float:right;
	padding-bottom: 100px;
}
.page-title, .user-name {
	font-family: 'LatoBold'; 
	font-size: 18px; color: #004066; 
	text-transform: uppercase;
	letter-spacing: -1px; 
	text-decoration: none; 
	margin-top: 25px;
}
.page-title {
	float: left;
	margin-left: 25px;
}
.user-name {
	float: right;
	margin-right: 25px;
}

.content .top-of-nav {
	height: 34px;
	background: #004a71;
	color: #fff;
	font-family: 'latoregular';
	margin: 15px 0 15px 25px;
	font-size: 14px;
}
.content .top-of-nav a {
	color: #fff; 
	text-decoration: none; 
	text-transform: capitalize; 
	line-height: 34px; 
}
.content .top-of-nav a.top-of-nav-home {
	padding-left: 31px; background: url(images/home-icon.png)no-repeat left;
}
.date {
	float: right;
	line-height: 34px;
	display: inline-block;
	height: 34px;
	background: url(images/top-of-nav-date.png) no-repeat left #e4922f;
	text-transform: uppercase;
	padding-left: 31px;
}

#nav ul li {
	float: left;
	
}
#nav ul li a {
	font-size: 14px;
	font-family: 'latoregular';
	color: #fff;
	text-decoration: none;
	text-transform: capitalize;
	background: #333;
	padding: 5px 10px;
}
#nav {float: left; margin-top: 10px;}
#nav ul li span {display: block; width: 83px; height: 92px; padding-top:6px;}

#nav ul li.home {margin-left: 60px;}
#nav ul li.sched {margin-left: 31px;}
#nav ul li.pay {margin-left: 39px;}
#nav ul li.user {margin-left: 49px;}
#nav ul li.set {margin-left: 41px;}
#nav ul li.manual {margin-left: 28px;}
#nav ul li.mngr {margin-left: 17px;}

#nav ul li.home  span{background: url(images/nav-1.png) no-repeat 20px 5px; padding-left: 20px; margin-left: -33px;}
#nav ul li.sched  span{background: url(images/nav-2.png) no-repeat 20px 5px; padding-left: 20px; margin-left: -24px;}
#nav ul li.pay  span{background: url(images/nav-3.png) no-repeat 20px 5px; padding-left: 20px; margin-left: -30px;}
#nav ul li.user  span{background: url(images/nav-4.png) no-repeat 20px 5px; padding-left: 20px; margin-left: -38px;}
#nav ul li.set  span{background: url(images/nav-5.png) no-repeat 20px 5px; padding-left: 20px; margin-left: -31px;}
#nav ul li.manual  span{background: url(images/nav-6.png) no-repeat 20px 5px; padding-left: 20px; margin-left: -15px;}
#nav ul li.mngr  span{background: url(images/nav-7.png) no-repeat 20px 5px; padding-left: 20px; margin-left: -3px;}

/*hover*/

#nav ul li.home:hover span {background: url(images/1-hover.png) no-repeat 20px 5px;}
#nav ul li.sched:hover span {background: url(images/2-hover.png) no-repeat 20px 5px;}
#nav ul li.pay:hover span {background: url(images/3-hover.png) no-repeat 20px 5px;}
#nav ul li.user:hover span {background: url(images/4-hover.png) no-repeat 20px 5px;}
#nav ul li.set:hover span {background: url(images/5-hover.png) no-repeat 20px 5px;}
#nav ul li.manual:hover span {background: url(images/6-hover.png) no-repeat 20px 5px;}
#nav ul li.mngr:hover span {background: url(images/7-hover.png) no-repeat 20px 5px;}

/* main-content */
.add-user {
	margin: 40px 0 35px 22px; 
	padding-left: 29px; 
	background: url(images/add-user-bg.png) no-repeat left; 
	font-family: arial; 
	font-size: 16px; 
	font-weight: bold; 
	color: #004a71;
}

.page-heading h1 {
	margin: 40px 0 35px 22px; 
	font-family: arial; 
	font-size: 16px; 
	font-weight: bold; 
	color: #004a71;
}

.box1-info, .box2-info {
	width:400px; 
	float: left;
	margin-left: 25px;
}
.box1-info h4, .box2-info h4, .main-content h4{
	font-family: arial; 
	font-weight: bold; 
	font-size: 16px; 
	color: #fff; 
	text-transform: capitalize; 
	background: #004a71; 
	padding: 12px 0 12px 33px; 
}

.form-holder {
	width: 378px; 
	border: 1px solid #e9eaec;
	padding: 14px 0 0 20px;
}
.form-text {
	background: url(images/form-bg.png) repeat-x; 
	border: none; 
	height: 27px; 
	width: 182px;
}
.left, .right {
	height: 27px; 
	display: inline-block;
}
.right {
	background: url(images/form-bg-right.png) no-repeat right;
	padding-right: 8px;
}
.left {
	background: url(images/form-bg-left.png)no-repeat left;  
	padding-left: 10px; 
	float: right;
}
.form-holder label, label {
	display: inline-block; 
	color: #454545; 
	font-family: arial; 
	font-weight: bold; 
	font-size: 14px; 
	text-transform: capitalize; 
	line-height: 27px;
}
.field-holder {
	margin-bottom: 10px; 
	position: relative; 
	padding-right: 35px;
}
.form-select  {
	background: url(images/form-bg.png) repeat-x; 
	border: none; 
	height: 28px; 
	width: 182px;
}

/* buttons */
.update-info-btn {
	display: block;
	width: 132px;
	height: 33px;
	background: url(images/update-info-btn.png) no-repeat;
	border: none;
	text-indent: -99999px;
	float: right;
	margin-top: 15px;
	margin-right: 191px;
	cursor: pointer
}

.save-now-btn {
	display: block;
	width: 84px;
	height: 33px;
	background: url(images/save-now-btn.png) no-repeat;
	border: none;
	text-indent: -99999px;
	margin-bottom: 25px;
	cursor: pointer
}

.save-all-setting {
	display: block;
	width: 120px;
	height: 33px;
	background: url(images/save-all-setting-btn.png) no-repeat;
	border: none;
	text-indent: -99999px;
	margin: 15px 0 25px 0;
	cursor: pointer
}
.gen-payroll-btn {
	display: block;
	width: 122px;
	height: 33px;
	border: none;
	background: url(images/gen-payroll-btn.png)no-repeat;
	text-indent: -99999px;
	cursor: pointer;
}

.submit-btn {
	display: block;
	width: 120px;
	height: 33px;
	background: url(images/save-and-close-btn.png) no-repeat;
	border: none;
	text-indent: -99999px;
	float: right;
	margin-top: 15px;
	margin-right: 191px;
	cursor: pointer
}

.arrow-btn {
	display: inline-block;
	width: 23px;
	height: 22px;
	border: none;
	background: url(images/arrow-btn.png)no-repeat;
	text-indent: -99999px;
	cursor: pointer;
}
.add-absence-btn {
	display: block;
	width: 98px;
	height: 33px;
	background: url(images/add-absence-btn.png) no-repeat;
	border: none;
	text-indent: -99999px;
	cursor: pointer
}

/* footer */
#footer {
	background: #004066;
	font-size: 12px;
	color: #fff;
	padding: 12px 0;
	font-family: tahoma;
}
#footer a {
	color: #fff;
	text-decoration: none;
}
#footer a:hover {
	text-decoration: underline;
}

textarea {
margin: 15px 0;
}

.copy-sched-btn {
	display: inline-block;
	width: 228px;
	height: 32px;
	background: url(images/copy-sched-btn.png)no-repeat;
	text-indent: -999999px;
	border: none;
	cursor: pointer
}

.update-btn {
	display: inline-block;
	width: 98px;
	height: 33px;
	background: url(images/update-btn.png)no-repeat;
	text-indent: -999999px;
	border: none;
	cursor: pointer
}

ul.costguard li {
	float: left;
	display: block;
	line-height: 35px;
	padding: 0 15px;
}

ul.week-copy {
	float: left;
	margin: 0 64px 0 20px;
}
ul.week-copy li {
	float: left;
	display: block;
	line-height: 35px;
	padding: 0 10px;
}
ul.costguard {
	margin-left: 80px;
}
ul.row-user {
	width: 185px;
	border-left: 1px solid #c6ced0;
	float:left;
	font-family: arial;
}
ul.date-n-time {
	width: 105px;
	float:left;
	font-family: arial;
	font-size: 13px;
}
ul.row-user li {
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-bottom: 1px solid #c6ced0;
	font-weight: bold;
}

ul.date-n-time li {
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-bottom: 1px solid #c6ced0;
}

.column-head{
	height: 34px;
	background: url(images/column-head-bg.png) repeat-x;
	padding: 0;
	border-bottom: 0;
}
.cal-date p{
	line-height: 13px;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: arial;
	color: #fff;
	padding-top: 4px;
}
.text-bold {
	font-weight: bold;
}
ul.row-edit {
	float: left;
	border-right: 1px solid #c6ced0;
}
ul.row-edit li {
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-bottom: 1px solid #c6ced0;
	padding: 0 10px 0 30px;
}
.column-title {
	font-size: 14px;
	font-weight: bold;
	font-family: arial;
	text-transform: uppercase;
	color: #fff;
	line-height: 34px;
}
ul.total-hours {
	width: 130px;
	float: left;
	font-size: 13px;
}
ul.total-hours li {
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-bottom: 1px solid #c6ced0;
}

ul.hours-used {
	width: 130px;
	float: left;
	font-size: 13px;
}
ul.hours-used li {
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-bottom: 1px solid #c6ced0;
}

ul.hours-avail {
	width: 225px;
	float: left;
	font-size: 13px;
}
ul.hours-avail li {
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-bottom: 1px solid #c6ced0;
}

ul.accrue-time {
	width: 225px;
	float: left;
}
ul.accrue-time li {
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-bottom: 1px solid #c6ced0;
}
ul.accrue-time img {
	padding: 6px 0;
}
.generate-payroll {
	width: 281px;
	border: 1px solid #c6ced0;
	margin-left: 25px;
}

.generate-payroll h4 {
	font-family: arial; 
	font-weight: bold; 
	font-size: 16px; 
	color: #fff; 
	text-transform: capitalize; 
	background: #004a71; 
	padding: 12px 0 12px 33px; 
}

ul.office {
	width: 130px;
	float: left;
	font-size: 13px;
}
ul.office li {
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-bottom: 1px solid #c6ced0;
}

ul.wage-pay {
	width: 130px;
	float: left;
	font-size: 13px;
}
ul.wage-pay li {
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-bottom: 1px solid #c6ced0;
}

ul.other-pay {
	width: 130px;
	float: left;
	font-size: 13px;
}
ul.other-pay li {
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-bottom: 1px solid #c6ced0;
}

ul.gross-pay {
	width: 130px;
	float: left;
	font-size: 13px;
}
ul.gross-pay li {
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-bottom: 1px solid #c6ced0;
}

/* timesheet request */
ul.type {
	width: 65px;
	float: left;
	font-size: 13px;
}
ul.type li {
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-bottom: 1px solid #c6ced0;
}
ul.type img {
	padding: 5px 0;
}

ul.date-requested {
	width: 163px;
	float: left;
	font-size: 13px;
}
ul.date-requested li {
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-bottom: 1px solid #c6ced0;
}

ul.date-requested li p, ul.requested-time li  p {
	line-height: 13px;
	padding-top: 4px;
}

ul.requested-time {
	width: 163px;
	float: left;
	font-size: 13px;
}
ul.requested-time li {
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-bottom: 1px solid #c6ced0;
}

ul.duration {
	width: 100px;
	float: left;
	font-size: 13px;
}
ul.duration li {
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-bottom: 1px solid #c6ced0;
}

ul.effect {
	width: 85px;
	float: left;
	font-size: 13px;
}
ul.effect li {
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-bottom: 1px solid #c6ced0;
}

ul.note {
	width: 85px;
	float: left;
	font-size: 13px;
}
ul.note li {
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-bottom: 1px solid #c6ced0;
}

ul.status {
	width: 85px;
	float: left;
	font-size: 13px;
}
ul.status li {
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-bottom: 1px solid #c6ced0;
}

ul.xclose {
	width: 50px;
	float: left;
	font-size: 13px;
}
ul.xclose li {
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-bottom: 1px solid #c6ced0;
}
.notice {
	padding: 10px 0 20px;
	color: #fff;
	font-size: 12px;
}
/* mileage page */
ul.mile-date {
	width: 160px;
	float: left;
	font-size: 13px;
}
ul.mile-date li {
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-bottom: 1px solid #c6ced0;
}

ul.miles {
	width: 160px;
	float: left;
	font-size: 13px;
}
ul.miles li {
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-bottom: 1px solid #c6ced0;
}

ul.verified {
	width: 160px;
	float: left;
	font-size: 13px;
}
ul.verified li {
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-bottom: 1px solid #c6ced0;
}

/* schedule absences */
ul.absence-type {
	width: 115px;
	float: left;
	font-size: 13px;
}
ul.absence-type li {
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-bottom: 1px solid #c6ced0;
}

ul.date-start {
	width: 115px;
	float: left;
	font-size: 13px;
}
ul.date-start li {
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-bottom: 1px solid #c6ced0;
}

ul.date-end {
	width: 115px;
	float: left;
	font-size: 13px;
}
ul.date-end li {
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-bottom: 1px solid #c6ced0;
}

ul.approved {
	width: 115px;
	float: left;
	font-size: 13px;
}
ul.approved li {
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-bottom: 1px solid #c6ced0;
}