﻿body > .panel > fieldset > .row > a {
    display: block;
    margin: 8px 0 -8px -10px;
    padding: 7px 32px 8px 10px;
    text-decoration: none;
    color: inherit;
    background: url(listArrow.png) no-repeat right center;
    text-align: left;
    font-weight: bold;
}

body > .panel > fieldset > .row:last-child > a {
    margin-bottom: 0px;
}

.rowImage {
	position: relative;
	top: -2px;
}

.backButton {
    display: inline;
    left: 6px;
    right: auto;
    padding: 0;
    max-width: 55px;
    border-width: 0 8px 0 14px;
    -webkit-border-image: url(backButton.png) 0 8 0 14;
}

.dataRow {
	margin: 2px 10px 0px 10px;
	width:100%
}

.rowRight {
    width:272px;
    text-align:right;
    color:#364b8a;
    font-weight:normal !important;
}