﻿body 
{
    margin:0px;
    padding:0px;
    background-color:#FFF;
    background-image:url(Images/page_bg.png);
    background-position:top;
    background-repeat:repeat-x;
	font-family:verdana;
	font-size:12px;
	color:#444;
    
}

a, a:visited
{
	color:#0000a7;
}

.page 
{
	width:100%;
}

.header
{
	width:100%;
	height:44px;
	background-color:#1d1d1d;
	border-bottom: solid 1px #CCC;
}

.headerContent
{
	position:absolute;
	left:50%;
	width:950px;
	margin-left:-475px;
	top:0px;
}

.headerLinks
{
	position:relative;
	top:-44px;
	left:175px;
	height:30px;
	width:775px;
	padding-top:14px;
	font-family:verdana;
	color:#ffffff;
	font-size:12px;
}

.headerLinks a
{
	color:#fff;
}

.homepageTop
{
	width:100%;
	height:400px;
	background-image:url(Images/homepage-top_bg.png);
}

.homepageBar
{
	width:100%;
	height:70px;
	background-image:url(Images/homepage-bar_bg.png);
}

.homepageContent 
{
    position:relative;
	left:50%;
	width:950px;
	margin-left:-475px;
}

.content 
{
    position:relative;
	left:50%;
	width:950px;
	margin-left:-475px;
	top:25px;
}
.content1
{
    position:relative;
	left:52%;
	width:690px;
	margin-left:-475px;
	top:25px;
}

.footer
{
	position:relative;
	width:100%;
	height:20px;
	background-color:#3d3d3d;
	border-top: solid 1px #CCC;
	padding-top:5px;
}

.footerNonHomepage
{
	top:50px;
}

.footerHide
{
	display:none;
}

.footerContent
{
	position:absolute;
	left:50%;
	width:950px;
	margin-left:-475px;
	text-align:center;
	font-size:10px;
	color:#fff;
}

.Text 
{
     line-height:150%;
}

.Subtitle 
{
    font-size:18px;
}

.Title
{
    font-family:Verdana;font-size:30px;
	color:#444444;
}

.FeatureBullet
{
    list-style-image:url(/images/check.png);
}

.featureHeader
{
	color:#fff;
	background-color:#0c5292;
}

.featureImageSmall
{
	border:0;
	padding-right:5px;
	vertical-align:middle;
}

.featurePanel
{
	position:relative;
	width:580px;
	left:164px;
	margin-bottom:30px;
	padding:20px;
	border:1px solid #999;
	background-color:#EEE;
}
.body_text
{
font-family:Verdana;
font-size:12px;
color:#444444;
}
.body_text_link
{
font-family:Verdana;
font-size:12px;
color:#444444;
text-decoration:none;
}
.body_text_link:hover
{
font-family:Verdana;
font-size:12px;
color:#ffffff;
text-decoration:none;
}
.body_text
{
font-family:Verdana;
font-size:12px;
color:#444444;
}
.body_text
{
font-family:Verdana;
font-size:12px;
color:#444444;
}
.heading_bold
{
font-family:Verdana;
font-size:12px;
color:#444444;
font-weight:bold;
}
.heading_bold_link
{
font-family:Arial;
font-size:12px;
color:#444444;
font-weight:bold;
text-decoration:none;
}
.heading_bold_link:hover
{
font-family:Arial;
font-size:12px;
color:#444444;
font-weight:bold;
text-decoration:underline;
}
.heading_bold_small
{
font-family:Verdana;
font-size:11px;
color:#444444;
font-weight:bold;
}
.heading_bold_small_link
{
font-family:Verdana;
font-size:11px;
color:#444444;
font-weight:bold;
text-decoration:none;
}
.heading_bold_small_link:hover
{
font-family:Verdana;
font-size:11px;
color:#444444;
font-weight:bold;
text-decoration:underline;
}
.top_text
{
width:auto;
font-family:Verdana;
font-size:11px;
color:#990000;
font-weight:bold;
padding-right:10px;
}
.top_text_link
{
font-family:Verdana;
font-size:11px;
color:#990000;
font-weight:bold;
text-decoration:none;
padding-right:10px;
}
.top_text_link:hover
{
font-family:Verdana;
font-size:11px;
color:#990000;
font-weight:bold;
text-decoration:underline;
}
