<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="InvalidLink.aspx.vb" Inherits="InvalidLink" title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
    <asp:ScriptManager ID="ScriptManager1" runat="server" EnablePartialRendering="false">
    </asp:ScriptManager>
    <strong><span style="font-size: 14pt">Invalid Link<br />
    </span></strong>
    <br />
<asp:Label runat="server" ID="txtcookie"></asp:Label>

    
</asp:Content>

